{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Draw</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
        
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'las_site:index' %}">Drawing</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'las_site:index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' user.id %}">My Profile</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' user.id %}">{{ user.username }}</a></li>
                        <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'users:register' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                        <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row content">    
                <div class="col-sm-2 sidenav">
                    {% block leftbar %}
                    {% endblock leftbar %}
                </div>
                <div class="col-sm-10">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>