{% extends 'las_site/base.html' %}
{% load staticfiles %}

<head>
    {% block head %}
        <LINK REL=StyleSheet HREF="{% static 'css/entry.css' %}" TYPE="text/css" MEDIA=screen>
    {% endblock head %}
</head>

{% block content %}
    <a href= {{ entry.image }}><img src= {{ entry }} class="img-responsive"></a>
    <a href="{% url 'users:profile' entry.owner.id %}"><p>Author: {{ entry.owner }}</p></a>
    <p>Description: {{ entry.blurb }}</p>

    <form action="{% url 'las_site:entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit'>Add Comment</button>
    </form>

    <p>Comments: </p>
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-title">
                    {% if user.id == comment.owner.id %}
                        <p class="comment-edit"><a href="{% url 'las_site:edit_comment' comment.id %}">Edit</a></p>
                    {% endif %}
                    <p class="comment-info">{{ comment.owner }} - {{ comment.date_added|date:'M d, Y H:i' }}</p>
                </div>
                <p class="comment-content">{{ comment.text }}</p>
            </div>
        {% empty %}
            <p>
                There are no comments for this entry yet.
            </p>
        {% endfor %}
{% endblock content %}