{% extends 'las_site/base.html' %}

{% block content %}
    <a href= {{ entry.image }}><img src= {{ entry }}></a>
    <a href="{% url 'users:profile' entry.owner.id %}"><p>Author: {{ entry.owner }}</p></a>

    <form action="{% url 'las_site:entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit'>Add Comment</button>
    </form>

    <p>Comments: </p>
    <ul>
        {% for comment in comments %}
            <li>
                <p><a href="{% url 'las_site:edit_comment' comment.id %}">Edit</a></p>
                <p>{{ comment.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ comment.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>
                There are no comments for this entry yet.
            </li>
        {% endfor %}
    </ul>
{% endblock content %}