{% extends "las_site/base.html" %}
{% load staticfiles %}

<head>
    {% block head %}
        <LINK REL=StyleSheet HREF="{% static 'css/index.css' %}" TYPE="text/css" MEDIA=screen>
    {% endblock head %}
</head>

{% block leftbar %}
    <div id="left-entry-list">
        <h4>Latest entries:</h4>
        <ul>
            {% for entry in entries %}
                <a href="{% url 'las_site:entry' entry.id %}">
                    <p>{{ entry.owner }} - {{ entry.date_added|date:'H:i' }}</p>
                </a>
            {% empty %}
                <p>No entries have been added yet.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock leftbar %}

{% block content %}
    <div class="row text-center">
        {% if user.is_authenticated %}
            <button class="btn" data-toggle="collapse" data-target="#entryform"><h4>Submit a new entry</h4></button>
            <div id="entryform" class="collapse">
                <form action="{% url 'las_site:index' %}" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button name="submit">Submit</button>
                </form>
            </div>
        {% endif %}
    </div>

    <h4>Today's Entries</h4>
        {% for entry in entries_today %}
            <div class="col-md-3">
                <a href="{% url 'las_site:entry' entry.id %}">
                    <img class="img-responsive center-block" id="index-entry" src={{ entry.image }}>
                </a>
            </div>
        {% empty %}
            <p>No entries have been added yet today.</p>
        {% endfor %}
{% endblock content %}